{
  "ServerHost": "{HOST}",
  "PhotonAppId": "{PHOTON_APPID}",
  "PhotonVoiceAppId": "{PHOTON_VOICE_APPID}",
  "PhotonCloudRegion": "{PHOTON_REGION}",
  "InjectAuthValues": true,
  "EnableTlsTrustBypass": true
}
