{
  "ServerHost": "{HOST}",
  "PhotonAppId": "{PHOTON_APPID}",
  "PhotonVoiceAppId": "{PHOTON_VOICE_APPID}",
  "PhotonCloudRegion": "{PHOTON_REGION}",
  "EnableTlsTrustBypass": {ENABLE_TLS_TRUST_BYPASS}
}
