{
  "ServerHost": "{HOST}",
  "EnableTlsTrustBypass": {ENABLE_TLS_TRUST_BYPASS},
  "QuestMaxTeamSize": 0,
  "QuestMaxTeamSizeRooms": [
    "CrimsonCauldron",
    "Crescendo",
    "GoldenTrophy",
    "IsleOfLostSkulls",
    "TheRiseofJumbotron"
  ]
}
