{
  "openapi": "3.1.0",
  "info": {
    "title": "Rec Room 2020 Client Observed Request Surface",
    "version": "2020.03+2020.12-inferred",
    "description": "Inferred OpenAPI generated from decompiled Rec Room 2020 client request literals. Methods and schemas are best-effort where the decompile does not preserve high-level bodies."
  },
  "servers": [
    {
      "url": "https://api.rec.net",
      "description": "Primary API service"
    },
    {
      "url": "https://auth.rec.net",
      "description": "Auth/account password service"
    },
    {
      "url": "https://match.rec.net",
      "description": "Matchmaking/goto service"
    },
    {
      "url": "https://rooms.rec.net",
      "description": "Rooms service"
    },
    {
      "url": "https://cdn.rec.net",
      "description": "CDN/binary content service"
    },
    {
      "url": "https://storage.rec.net",
      "description": "Storage/upload service"
    },
    {
      "url": "https://notify.rec.net",
      "description": "Notifications service"
    },
    {
      "url": "https://clubs.rec.net",
      "description": "Club service when exposed separately"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "activities"
    },
    {
      "name": "announcements"
    },
    {
      "name": "avatar"
    },
    {
      "name": "bootstrap"
    },
    {
      "name": "bug-reporting"
    },
    {
      "name": "clubs"
    },
    {
      "name": "community-board"
    },
    {
      "name": "config-settings"
    },
    {
      "name": "economy"
    },
    {
      "name": "elo"
    },
    {
      "name": "equipment"
    },
    {
      "name": "groups"
    },
    {
      "name": "images"
    },
    {
      "name": "inventions"
    },
    {
      "name": "matchmaking"
    },
    {
      "name": "messages"
    },
    {
      "name": "misc"
    },
    {
      "name": "objectives"
    },
    {
      "name": "player-events"
    },
    {
      "name": "players"
    },
    {
      "name": "playlists"
    },
    {
      "name": "quickplay"
    },
    {
      "name": "relationships"
    },
    {
      "name": "reporting"
    },
    {
      "name": "room-keys"
    },
    {
      "name": "rooms"
    },
    {
      "name": "sanitize"
    },
    {
      "name": "storage-cdn"
    },
    {
      "name": "store"
    },
    {
      "name": "test-case-management"
    },
    {
      "name": "versioncheck"
    }
  ],
  "paths": {
    "/account/{p0}/bio": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/{0}/bio",
        "description": "Inferred from Rec Room 2020 client literal `account/{0}/bio`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_p0_bio_get",
        "parameters": [
          {
            "name": "p0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal account/{0}/bio"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/{0}/bio",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<FKNGFLFDIIB> GBLAOEFPDAH(System.Int32 GKLPIFBPGOD)",
            "file": "PEGGCEDHBOF.txt",
            "line": 7866
          },
          {
            "type": "PEGGCEDHBOF+<>c",
            "method": "System.Void <ChangeBio>b__67_0()",
            "file": "PEGGCEDHBOF_NestedType___c.txt",
            "line": 587
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "object",
            "raw": "FKNGFLFDIIB",
            "rootType": "FKNGFLFDIIB",
            "typeDescription": {
              "name": "FKNGFLFDIIB",
              "found": true,
              "file": "FKNGFLFDIIB.cs",
              "declaration": "public class FKNGFLFDIIB : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "AHOEKLABOBN",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "bio"
              ],
              "isilFile": "FKNGFLFDIIB.txt",
              "isilType": "FKNGFLFDIIB"
            }
          },
          {
            "kind": "unknown",
            "raw": "",
            "rootType": "unknown",
            "typeDescription": {
              "name": "unknown",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/account/{p0}/clubs": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/{0}/clubs",
        "description": "Inferred from Rec Room 2020 client literal `account/{0}/clubs`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_p0_clubs_get",
        "parameters": [
          {
            "name": "p0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal account/{0}/clubs"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/{0}/clubs",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "JDJGIBLMFKK",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<PLILLKHMNDA>> KGGMKBADLDM(System.Int32 GKLPIFBPGOD)",
            "file": "JDJGIBLMFKK.txt",
            "line": 9580
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<PLILLKHMNDA>",
            "rootType": "PLILLKHMNDA",
            "item": {
              "kind": "object",
              "raw": "PLILLKHMNDA",
              "rootType": "PLILLKHMNDA"
            },
            "typeDescription": {
              "name": "PLILLKHMNDA",
              "found": true,
              "file": "PLILLKHMNDA.cs",
              "declaration": "public class PLILLKHMNDA : IFAIJAGLDFK, IEquatable<PLILLKHMNDA>",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "BADIGBCKECA",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CCGOEDABKNN",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CDINMMPNAID",
                  "type": "JCMLDDKFKEO",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CDNFGMHLDMJ",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "EEAOJCGAOCN",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "EHOLKJPEGFF",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "EPGALOMHHMI",
                  "type": "JCDEFCJLCHN",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "FIKEBGGCDFN",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "HHCGNCLFKDM",
                  "type": "Nullable<Int64>",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IPKLLFAJJPJ",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "KODBEJPEFOJ",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "LNGPBGCIAPP",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "MNEEEGHOGAB",
                  "type": "DIGMAIMMHAP",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "PHBCFAJILGD",
                  "type": "PJCALHOPMKJ",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "ClubId",
                "Name",
                "Description",
                "MainImageName",
                "State",
                "CreatorAccountId",
                "Category",
                "Visibility",
                "Joinability",
                "AllowJuniors",
                "MemberCount",
                "IsRRO",
                "ClubType"
              ],
              "isilFile": "PLILLKHMNDA.txt",
              "isilType": "PLILLKHMNDA"
            }
          }
        ]
      }
    },
    "/account/{p0}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/{0}",
        "description": "Inferred from Rec Room 2020 client literal `account/{0}`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_p0_get",
        "parameters": [
          {
            "name": "p0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal account/{0}"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/{0}",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<CCEOLAOLEKJ> NFKMGNHDCMN(System.Int32 GKLPIFBPGOD)",
            "file": "PEGGCEDHBOF.txt",
            "line": 3934
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "object",
            "raw": "CCEOLAOLEKJ",
            "rootType": "CCEOLAOLEKJ",
            "typeDescription": {
              "name": "CCEOLAOLEKJ",
              "found": true,
              "file": "CCEOLAOLEKJ.cs",
              "declaration": "public class CCEOLAOLEKJ : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ],
              "isilFile": "CCEOLAOLEKJ.txt",
              "isilType": "CCEOLAOLEKJ"
            }
          }
        ]
      }
    },
    "/account/bulk/{tail}": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/bulk/",
        "description": "Inferred from Rec Room 2020 client literal `account/bulk/`. Expected result: Account profile summary array.",
        "operationId": "client_account_account_bulk_tail_post",
        "parameters": [
          {
            "name": "tail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal account/bulk/"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile summary array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountProfile"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/bulk/",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<DCGAMCKNJDB>> NGENLHMLHNG(System.Collections.Generic.List`1<System.String> BGELOMIEKFK, System.String MAFJOJLDFJO, System.String LOOAPLFGOEN, System.String PJIBCCFFMNJ, GPOOLJODEGM OLBDHLLJJHF)",
            "file": "PEGGCEDHBOF.txt",
            "line": 9080
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<DCGAMCKNJDB>",
            "rootType": "DCGAMCKNJDB",
            "item": {
              "kind": "object",
              "raw": "DCGAMCKNJDB",
              "rootType": "DCGAMCKNJDB"
            },
            "typeDescription": {
              "name": "DCGAMCKNJDB",
              "found": true,
              "file": "DCGAMCKNJDB.cs",
              "declaration": "public class DCGAMCKNJDB",
              "kind": "class",
              "baseType": null,
              "properties": [
                {
                  "name": "DINFEKALAJO",
                  "type": "GPOOLJODEGM",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "DJMJFEJGIHM",
                  "type": "CCEOLAOLEKJ",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "MCHJBOBNFLN",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [],
              "isilFile": "DCGAMCKNJDB.txt",
              "isilType": "DCGAMCKNJDB"
            }
          }
        ]
      }
    },
    "/account/bulk": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/bulk",
        "description": "Inferred from Rec Room 2020 client literal `account/bulk`. Expected result: Account profile summary array.",
        "operationId": "client_account_account_bulk_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Account profile summary array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountProfile"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/bulk",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<CCEOLAOLEKJ>> NHCHADDMPFC(System.Collections.Generic.List`1<System.Int32> ILNGMAANNDG)",
            "file": "PEGGCEDHBOF.txt",
            "line": 4917
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<CCEOLAOLEKJ>",
            "rootType": "CCEOLAOLEKJ",
            "item": {
              "kind": "object",
              "raw": "CCEOLAOLEKJ",
              "rootType": "CCEOLAOLEKJ"
            },
            "typeDescription": {
              "name": "CCEOLAOLEKJ",
              "found": true,
              "file": "CCEOLAOLEKJ.cs",
              "declaration": "public class CCEOLAOLEKJ : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ],
              "isilFile": "CCEOLAOLEKJ.txt",
              "isilType": "CCEOLAOLEKJ"
            }
          }
        ]
      },
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/bulk?",
        "description": "Inferred from Rec Room 2020 client literal `account/bulk?`. Expected result: Account profile summary array.",
        "operationId": "client_account_account_bulk_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Account profile summary array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountProfile"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/bulk?",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<CCEOLAOLEKJ>> NHCHADDMPFC(System.Collections.Generic.List`1<System.Int32> ILNGMAANNDG)",
            "file": "PEGGCEDHBOF.txt",
            "line": 4963
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<CCEOLAOLEKJ>",
            "rootType": "CCEOLAOLEKJ",
            "item": {
              "kind": "object",
              "raw": "CCEOLAOLEKJ",
              "rootType": "CCEOLAOLEKJ"
            },
            "typeDescription": {
              "name": "CCEOLAOLEKJ",
              "found": true,
              "file": "CCEOLAOLEKJ.cs",
              "declaration": "public class CCEOLAOLEKJ : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ],
              "isilFile": "CCEOLAOLEKJ.txt",
              "isilType": "CCEOLAOLEKJ"
            }
          }
        ]
      }
    },
    "/account/create": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/create",
        "description": "Inferred from Rec Room 2020 client literal `account/create`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_create_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/create",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<CCEOLAOLEKJ> HHFPNFANNEG()",
            "file": "PEGGCEDHBOF.txt",
            "line": 5418
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "object",
            "raw": "CCEOLAOLEKJ",
            "rootType": "CCEOLAOLEKJ",
            "typeDescription": {
              "name": "CCEOLAOLEKJ",
              "found": true,
              "file": "CCEOLAOLEKJ.cs",
              "declaration": "public class CCEOLAOLEKJ : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ],
              "isilFile": "CCEOLAOLEKJ.txt",
              "isilType": "CCEOLAOLEKJ"
            }
          }
        ]
      }
    },
    "/account/me/{tail}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/me/",
        "description": "Inferred from Rec Room 2020 client literal `account/me/`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_me_tail_get",
        "parameters": [
          {
            "name": "tail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal account/me/"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/me/",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise OEBEELJDOHE(BestHTTP.HTTPMethods APAICGIHAGJ, BestHTTP.Forms.HTTPUrlEncodedForm MDOPLMHIKLP, System.String LOOAPLFGOEN)",
            "file": "PEGGCEDHBOF.txt",
            "line": 6704
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "success-or-empty",
            "raw": "RecRoom.Async.IPromise",
            "rootType": "void/success",
            "typeDescription": {
              "name": "void/success",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/account/me/changepassword": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/me/changepassword",
        "description": "Inferred from Rec Room 2020 client literal `account/me/changepassword`. Expected result: Boolean/success password result.",
        "operationId": "client_account_account_me_changepassword_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Boolean/success password result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/me/changepassword",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "auth/accounts",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "MHOKOMMOGKM",
            "method": "RecRoom.Async.IPromise PGJBIIPMMJP(BestHTTP.Forms.HTTPUrlEncodedForm MDOPLMHIKLP, System.String MKIPICKCFDM)",
            "file": "MHOKOMMOGKM.txt",
            "line": 2582
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "success-or-empty",
            "raw": "RecRoom.Async.IPromise",
            "rootType": "void/success",
            "typeDescription": {
              "name": "void/success",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/account/me/haspassword": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/me/haspassword",
        "description": "Inferred from Rec Room 2020 client literal `account/me/haspassword`. Expected result: Boolean/success password result.",
        "operationId": "client_account_account_me_haspassword_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Boolean/success password result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/me/haspassword",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "auth/accounts",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "MHOKOMMOGKM",
            "method": "RecRoom.Async.IPromise`1<System.Boolean> PPKFJEINCCN()",
            "file": "MHOKOMMOGKM.txt",
            "line": 2203
          },
          {
            "type": "MHOKOMMOGKM+<>c",
            "method": "System.Void <CreatePassword>b__32_0()",
            "file": "MHOKOMMOGKM_NestedType___c.txt",
            "line": 584
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "primitive",
            "raw": "System.Boolean",
            "rootType": "boolean",
            "typeDescription": {
              "name": "boolean",
              "found": false,
              "kind": "primitive",
              "wireKeys": []
            }
          },
          {
            "kind": "unknown",
            "raw": "",
            "rootType": "unknown",
            "typeDescription": {
              "name": "unknown",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/account/me": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "GET account/me",
        "description": "Inferred from Rec Room 2020 client literal `account/me`. Expected result: Account profile object or mutation success.",
        "operationId": "client_account_account_me_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Account profile object or mutation success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/me",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<JJGHAFKJBEI> HJFCFNCKDFO()",
            "file": "PEGGCEDHBOF.txt",
            "line": 3576
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "object",
            "raw": "JJGHAFKJBEI",
            "rootType": "JJGHAFKJBEI",
            "typeDescription": {
              "name": "JJGHAFKJBEI",
              "found": true,
              "file": "JJGHAFKJBEI.cs",
              "declaration": "public class JJGHAFKJBEI : CCEOLAOLEKJ",
              "kind": "class",
              "baseType": "CCEOLAOLEKJ",
              "properties": [
                {
                  "name": "AFBNICLHPBN",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CNJIJKAHHCG",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "DKFIDIDDHNO",
                  "type": "Nullable<DateTime>",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "FHKEMGJCOND",
                  "type": "Nullable<ObscuredInt>",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "LNMPGOOPELO",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "MCDGMOKGEPJ",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "MDHCHOLIJEF",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ONBONOFFGFC",
                  "type": "CINICOCNPFB",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "email",
                "phone",
                "juniorState",
                "parentAccountId",
                "availableUsernameChanges"
              ],
              "isilFile": "JJGHAFKJBEI.txt",
              "isilType": "JJGHAFKJBEI",
              "inherits": "CCEOLAOLEKJ",
              "inheritedMembers": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property",
                  "inheritedFrom": "CCEOLAOLEKJ"
                }
              ],
              "inheritedWireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ]
            }
          }
        ]
      }
    },
    "/account/recoverpassword": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/recoverpassword",
        "description": "Inferred from Rec Room 2020 client literal `account/recoverpassword`. Expected result: Boolean/success password result.",
        "operationId": "client_account_account_recoverpassword_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Boolean/success password result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProfile"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/recoverpassword",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "auth/accounts",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "MHOKOMMOGKM",
            "method": "RecRoom.Async.IPromise PMKEHDEDNCK(System.String LJKKKECANAB)",
            "file": "MHOKOMMOGKM.txt",
            "line": 2779
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "success-or-empty",
            "raw": "RecRoom.Async.IPromise",
            "rootType": "void/success",
            "typeDescription": {
              "name": "void/success",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/account/search": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "POST account/search?name=",
        "description": "Inferred from Rec Room 2020 client literal `account/search?name=`. Expected result: Account profile summary array.",
        "operationId": "client_account_account_search_post",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client query parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account profile summary array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountProfile"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "account/search?name=",
        "x-recroom-client-family": "account",
        "x-recroom-client-service": "accounts/api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "PEGGCEDHBOF",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<CCEOLAOLEKJ>> IBDGAKHBIAJ(System.String CNBKKCJAHPP)",
            "file": "PEGGCEDHBOF.txt",
            "line": 9372
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<CCEOLAOLEKJ>",
            "rootType": "CCEOLAOLEKJ",
            "item": {
              "kind": "object",
              "raw": "CCEOLAOLEKJ",
              "rootType": "CCEOLAOLEKJ"
            },
            "typeDescription": {
              "name": "CCEOLAOLEKJ",
              "found": true,
              "file": "CCEOLAOLEKJ.cs",
              "declaration": "public class CCEOLAOLEKJ : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AEMHDANDFOP",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "BIOGKFGIMDG",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CFJLJOKIJCN",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GAINIOENNCG",
                  "type": "ObscuredInt",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "IHADBCJNDIP",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "ILOADNHKMHK",
                  "type": "ENNEGEELGMC",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "JIIMAIDFJPN",
                  "type": "ObscuredBool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OOJFBECGEAD",
                  "type": "ObscuredString",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "accountId",
                "profileImage",
                "isJunior",
                "platforms",
                "username",
                "displayName",
                "createdAt"
              ],
              "isilFile": "CCEOLAOLEKJ.txt",
              "isilType": "CCEOLAOLEKJ"
            }
          }
        ]
      }
    },
    "/api/activities/charades/v1/words": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET api/activities/charades/v1/words",
        "description": "Inferred from Rec Room 2020 client literal `api/activities/charades/v1/words`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_activities_api_activities_charades_v1_words_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/activities/charades/v1/words",
        "x-recroom-client-family": "activities",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "CardBox",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<JOHPEJAMBHG>> HMNGGFKCDGD()",
            "file": "CardBox.txt",
            "line": 2422
          },
          {
            "type": "CardBox",
            "method": "System.Void Start()",
            "file": "CardBox.txt",
            "line": 2221
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<JOHPEJAMBHG>",
            "rootType": "JOHPEJAMBHG",
            "item": {
              "kind": "object",
              "raw": "JOHPEJAMBHG",
              "rootType": "JOHPEJAMBHG"
            },
            "typeDescription": {
              "name": "JOHPEJAMBHG",
              "found": true,
              "file": "JOHPEJAMBHG.cs",
              "declaration": "public class JOHPEJAMBHG : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "CJPFKEJAOBI",
                  "type": "enum",
                  "accessibility": "internal",
                  "kind": "property"
                },
                {
                  "name": "GBLNDMFIGNM",
                  "type": "CJPFKEJAOBI",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "OIIMKMHNCMN",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "EN_US",
                "Difficulty"
              ],
              "isilFile": "JOHPEJAMBHG.txt",
              "isilType": "JOHPEJAMBHG"
            }
          },
          {
            "kind": "unknown",
            "raw": "",
            "rootType": "unknown",
            "typeDescription": {
              "name": "unknown",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/api/challenge": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET api/challenge/",
        "description": "Inferred from Rec Room 2020 client literal `api/challenge/`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_activities_api_challenge_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericObject"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/challenge/",
        "x-recroom-client-family": "activities",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "PDMJMMMNGJE",
            "method": "System.Collections.IEnumerator EOBJGALHFNP(BPHGKAEDBPE+OJDJIJDNFHE<FNEEJMCEPOL> AFLPGGJMPOE)",
            "file": "PDMJMMMNGJE.txt",
            "line": 156
          },
          {
            "type": "PDMJMMMNGJE",
            "method": "System.Void EKJPOJFLGFO(System.Int32 DKDDEIHEIBL, COLBJJAIEIO FMIIMOCIHCD)",
            "file": "PDMJMMMNGJE.txt",
            "line": 395
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "callback-or-coroutine",
            "raw": "IEnumerator",
            "rootType": "callback",
            "typeDescription": {
              "name": "callback",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          },
          {
            "kind": "unknown",
            "raw": "",
            "rootType": "unknown",
            "typeDescription": {
              "name": "unknown",
              "found": false,
              "kind": "object",
              "wireKeys": []
            }
          }
        ]
      }
    },
    "/api/checklist/{tail}": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET api/checklist/",
        "description": "Inferred from Rec Room 2020 client literal `api/checklist/`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_activities_api_checklist_tail_get",
        "parameters": [
          {
            "name": "tail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Format placeholder from client literal api/checklist/"
          }
        ],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/checklist/",
        "x-recroom-client-family": "activities",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.03.10"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ]
      }
    },
    "/api/royale": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET api/royale/",
        "description": "Inferred from Rec Room 2020 client literal `api/royale/`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_activities_api_royale_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/royale/",
        "x-recroom-client-family": "activities",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.03.10",
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "JDFDLJJGHIP",
            "method": "RecRoom.Async.IPromise`1<JDFDLJJGHIP+GHNGAENLIHA> APOAEDMOIHO()",
            "file": "JDFDLJJGHIP.txt",
            "line": 266
          },
          {
            "type": "JDFDLJJGHIP",
            "method": "RecRoom.Async.IPromise`1<JDFDLJJGHIP+JLNAMKBKPNG> NGEFKCDJAMF(JDFDLJJGHIP+MatchCompleteStats CNALBEPOKJJ)",
            "file": "JDFDLJJGHIP.txt",
            "line": 477
          },
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "object",
            "raw": "JDFDLJJGHIP+GHNGAENLIHA",
            "rootType": "GHNGAENLIHA",
            "typeDescription": {
              "name": "GHNGAENLIHA",
              "found": true,
              "file": "JDFDLJJGHIP.cs",
              "declaration": "internal class GHNGAENLIHA : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "AGCAAIBPPIJ",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CBKDFHNBDEM",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "COAHPEGOOEB",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "COLADBAICGE",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "GMAJAGFHAPO",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "LINLLHBFIKF",
                  "type": "int",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "MPIAOHJIBOL",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "TotalXP",
                "Level",
                "RankIdx",
                "RankName",
                "CurrentLevelXPThreshold",
                "NextLevelXPThreshold",
                "NextLevelAcornReward"
              ],
              "isilFile": "JDFDLJJGHIP_NestedType_GHNGAENLIHA.txt",
              "isilType": "JDFDLJJGHIP+GHNGAENLIHA"
            }
          },
          {
            "kind": "object",
            "raw": "JDFDLJJGHIP+JLNAMKBKPNG",
            "rootType": "JLNAMKBKPNG",
            "typeDescription": {
              "name": "JLNAMKBKPNG",
              "found": true,
              "file": "JDFDLJJGHIP.cs",
              "declaration": "internal class JLNAMKBKPNG : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "AGLPLKLAGKC",
                  "type": "List<GHNGAENLIHA>",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "HBANCPAIDGN",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "HNBFKOEFCIE",
                  "type": "List<String>",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "TotalXPAwarded"
              ],
              "isilFile": "JDFDLJJGHIP_NestedType_JLNAMKBKPNG.txt",
              "isilType": "JDFDLJJGHIP+JLNAMKBKPNG"
            }
          }
        ]
      }
    },
    "/api/announcement/v1/get": {
      "get": {
        "tags": [
          "announcements"
        ],
        "summary": "GET api/announcement/v1/get",
        "description": "Inferred from Rec Room 2020 client literal `api/announcement/v1/get`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_announcements_api_announcement_v1_get_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Announcement"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/announcement/v1/get",
        "x-recroom-client-family": "announcements",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.03.10"
        ],
        "x-recroom-inferred-http-method": "get",
        "x-recroom-evidence": [
          {
            "type": "stringliteral.json",
            "method": "",
            "file": "Recnet-archive/decompiled/Il2CppDump/stringliteral.json",
            "line": null
          }
        ],
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<MKEKHKEHPLO>",
            "rootType": "MKEKHKEHPLO",
            "item": {
              "kind": "object",
              "raw": "MKEKHKEHPLO",
              "rootType": "MKEKHKEHPLO"
            },
            "typeDescription": {
              "name": "MKEKHKEHPLO",
              "found": true,
              "file": "MKEKHKEHPLO.cs",
              "declaration": "public class MKEKHKEHPLO : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AHGCOGFEEEE",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CDALJPJJHDK",
                  "type": "FIEFAAIHMAF",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "COJOHODFJOL",
                  "type": "AIOCBINPOML",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "DNFIODIACBF",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "EAFCPPAEHJA",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "FDPLOMBGJGJ",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "HPCKFCEFFOJ",
                  "type": "MBALPDDOMME",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "KFJBDJMKHKG",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "LKIBJOMNFFD",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "PFACIBEMBNO",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "PFJIBIPNDCA",
                  "type": "FCIKKFJOMNO",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "AnnouncementId",
                "AnnouncementType",
                "Title",
                "Body",
                "ImageName",
                "LinkType",
                "LinkName",
                "LinkUri",
                "Platform",
                "CreatedAt"
              ],
              "isilFile": "MKEKHKEHPLO.txt",
              "isilType": "MKEKHKEHPLO"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "misc"
        ],
        "summary": "POST api/announcement/v1/get",
        "description": "Inferred from Rec Room 2020 client literal `api/announcement/v1/get`. Expected result: Generic object/array/success result inferred from client route.",
        "operationId": "client_misc_api_announcement_v1_get_post",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generic object/array/success result inferred from client route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "204": {
            "description": "Success with no body, used by some mutation endpoints."
          },
          "400": {
            "description": "Client-visible validation or bad request error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or token invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error shape tolerated by client wrappers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-recroom-client-route-literal": "api/announcement/v1/get",
        "x-recroom-client-family": "misc",
        "x-recroom-client-service": "api",
        "x-recroom-builds": [
          "2020.12.18"
        ],
        "x-recroom-inferred-http-method": "post",
        "x-recroom-evidence": [
          {
            "type": "NLGOJMONPKG",
            "method": "RecRoom.Async.IPromise`1<System.Collections.Generic.List`1<MKEKHKEHPLO>> ADEEFOCPDFH()",
            "file": "NLGOJMONPKG.txt",
            "line": 379
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          },
          "description": "Request body inferred. Exact DTO may be named in x-recroom-evidence method signature or companion DTO inventory."
        },
        "x-client-response-contracts": [
          {
            "kind": "array",
            "raw": "System.Collections.Generic.List`1<MKEKHKEHPLO>",
            "rootType": "MKEKHKEHPLO",
            "item": {
              "kind": "object",
              "raw": "MKEKHKEHPLO",
              "rootType": "MKEKHKEHPLO"
            },
            "typeDescription": {
              "name": "MKEKHKEHPLO",
              "found": true,
              "file": "MKEKHKEHPLO.cs",
              "declaration": "public class MKEKHKEHPLO : IFAIJAGLDFK",
              "kind": "class",
              "baseType": "IFAIJAGLDFK",
              "properties": [
                {
                  "name": "ACBFDMLHFPB",
                  "type": "DateTime",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "AHGCOGFEEEE",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "CDALJPJJHDK",
                  "type": "FIEFAAIHMAF",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "COJOHODFJOL",
                  "type": "AIOCBINPOML",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "DNFIODIACBF",
                  "type": "long",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "EAFCPPAEHJA",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "FDPLOMBGJGJ",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "HPCKFCEFFOJ",
                  "type": "MBALPDDOMME",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "KFJBDJMKHKG",
                  "type": "bool",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "LKIBJOMNFFD",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "PFACIBEMBNO",
                  "type": "string",
                  "accessibility": "public",
                  "kind": "property"
                },
                {
                  "name": "PFJIBIPNDCA",
                  "type": "FCIKKFJOMNO",
                  "accessibility": "public",
                  "kind": "property"
                }
              ],
              "fields": [],
              "enumValues": [],
              "wireKeys": [
                "AnnouncementId",
                "AnnouncementType",
                "Title",
                "Body",
                "ImageName",
                "LinkType",
                "LinkName",
                "LinkUri",
                "Platform",
                "CreatedAt"
              ],
              "isilFile": "MKEKHKEHPLO.txt",
              "isilType": "MKEKHKEHPLO"
            }
          }
        ]
      }
    },
    "/api/avatar/v1/lockeditems": {
      "get": {
        "tags": [
          "avatar"
        ],
        "summary": "GET api/avatar/v1/lockeditems?",
[...]
